# Telegram bot token
BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE

# Mini App URL
# Hozir local test uchun:
FRONTEND_URL=http://127.0.0.1:5173

# Ovozli chat guruhi linki
# Keyin Telegram guruh linkini qo‘yamiz:
VOICE_CHAT_URL=